header{
    position: sticky;
    top: 0;
    width: 100%;
}

/* header */

.navbar{
    /* border: solid black; */
    background-color:#3da6fc ;
    height: 80px;  
}
.signin{
    /* border: solid white; */
    border-radius: 10px;
    float: right;
    margin-right: 10%;
    margin-top: 10px;
    font-size: 20px;
}
.navcontent ul{
    position: relative;
    border: solid black;
    float: right;
    margin-left: 20%;
    top: 10px;
    
}
.navcontent li{
    /* border: solid rgb(156, 156, 156); */
    font-size: 20px;
    
    display: inline-block;
    padding-right:30px;
    
    margin-top: 40px;
    
}

.logo{
    margin-top: 5px;
    font-size: 40px;
    float: left;
    /* border: solid black; */
}
.navbar a{
    color: white;
    
}
