header{
    position: sticky;
    top: 0;
}

/* header */

.navbar{
   
    background-color:#3da6fc ;
    /* background-color: lightgreen; */
    height: 80px;
    
}
.navbar a{
    font-size: 40px;
    color: white;
    margin-left: 5px;
}
.navbar .navcontent ul{
    /* float: right; */
    position: absolute;
    top :16px;
    right: 5px  ;
    
    list-style: none;
}
.navcontent li{
    float: left;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
}


.head{
    display: inline-block;
}
