<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <div class="navbar">
        
    
    
        <div class="logo">
        <a href="index.html"><span style="font-size: 60px; color:white"><i class="fa fa-paw" aria-hidden="true"></i></span> Pet shop</a>
    </div>
   
        <div class="navcontent">
            <ul>
               <li><a routerLink="/dashboard">Dashboard</a></li>
                <li> <a routerLink="/listuser">Users</a></li>
                <li> <a routerLink="/product">Products</a></li>
                <li><a routerLink="/listorder">Orders</a></li>
                <li><a href="" (click)="logout()">Logout</a></li>
               
            </ul>
            </div>
        </div>
    

    
