<app-content>
    <table class="table-content">
        <Caption class="table-head">User credentials</Caption>
        <thead>
            <tr>
                <td>S.no</td>
                <td>User Name</td>
                <td>Email</td>
                <td>User Id</td>

            </tr>
        </thead>
        <tbody *ngFor='let user of users; let i=index'>
            <tr>
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user._id}}</td>
            </tr>
        </tbody>
    </table>
</app-content>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>