<app-header></app-header>
<section>
    <table class="table-content">
        <Caption class="table-head">user credentials</Caption>
        <thead>
            <tr>
                <td>s.no</td>
                <td>userName</td>
                <td>email</td>
                <td>user id</td>
                
            </tr>
        </thead>
        <tbody *ngFor='let user of users; let i=index'>
            <tr>
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user._id}}</td>
                <!-- <td><button (click)="delete(user._id,user._rev)">delete user</button></td> -->
            </tr>
        </tbody>
    </table>
</section>
