<app-header></app-header>
<table class="table-content">

    <thead class="">
        <tr>
            <td>S.no</td>
            <td>Customer name</td>
            <td>Phone Number</td>
            <td>Address</td>
            <td>Date</td>
            <td>Total Amount</td>
            <td>Payment</td>
            <td>Status</td>
            <td>Process</td>
        </tr>
    </thead>

    <tbody *ngFor='let order of listOrders; let i=index'>
        <tr>
            <td>{{i+1}}</td>
            <td>{{order.name}}</td>
            <td>{{order.phonenumber}}</td>
            <td>{{order.address}}</td>
            <td>{{order.date|date:" dd/MM/yyyy"}}</td>
            <td>{{order.totalAmount}}</td>
            <td>cod</td>
            <td>{{order.status}}</td>

            <td>
                <p *ngIf="order.status!='DELIVERED'"><button class="statusbtn" (click)='status(order)'
                        *ngIf="order.status!='CANCELLED'">change status</button></p>
            </td>


        </tr>
    </tbody>
</table>