.table-content {
    margin: 40px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 75%;
    border-collapse: collapse;
    text-align: center;
}

.table-content thead tr {
    background-color: #3DA6FC;
    color: #ffffff;
}

.table-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-content th,
.table-content td {
    padding: 12px 15px;
    border: #D3D3D3 solid 1px;
}
.table-head {
    font-size: large;
    font-style: normal;
    font-weight: bolder;
    color: blue;
}

.statusbtn {
    border: none;
    padding: 5px;
    background-color:#e7e7e7; color: black;
    border-radius: 5px;
}
.head{
    font-size: large;
    font-style: normal;
    font-weight: bolder;
    color: blue;
}