<app-header></app-header>
<table border="1">
    
    <thead>
        <tr>
            <td>s.no</td>
            <td>Customer name</td>
            <td>Phone number</td>
            <td>Address</td>
            <td>Date</td>
            <td>Total amount</td>
            <td>Payment</td>
            <td>Status</td>
            <td>Process</td>

                 
        </tr>
    </thead>

    <tbody *ngFor='let order of listOrders; let i=index'>
        <tr>
            <td>{{i+1}}</td>
            <td>{{order.name}}</td>
            <td>{{order.phonenumber}}</td>
            <td>{{order.address}}</td>
            <td>{{order.date}}</td>
            <td>{{order.totalAmount}}</td>
            <td>cod</td>
            <td>{{order.status}}</td>
            <td><button (click)='status(order)'>change status</button></td>
            
            
           </tr>
    </tbody>
</table>
