<!-- <header id="header">

</header> -->
<!-- <app-header></app-header> -->
<!-- <router-outlet></router-outlet> -->
<div class="formlogin">
    <form (ngSubmit)="login()">

        <div class="loginimg"><img src="assets/images/1818401.png" alt="cat" width="30%" height="40%"></div>
        <div class="loginform">
            <h1>Welcome to login</h1>
            <label for="email">Email</label>
            <br>
            <input type="email"[(ngModel)]="email" name="email" id="email" required>
            <br>


            <label for="password">Password</label>
            <br>
            <input type="password" [(ngModel)]="password" name="password" id="password" required>
            <br>
            <a href="/forgetpassword">forget password?</a><br>
            <button class="lgbtn">login</button>
            <button class="lgbtn">
                <a href="/register">sign up</a>
            </button>
            <!-- <label><input type="checkbox">Remember me</label> -->
        </div>

        <div class="logincancel">
            <!-- <button type="button" class="logcancel"><a href="index.html">cancel</a> </button> -->
            
        </div>

    </form>
</div>
<footer id="footer"></footer>
