.forgetpsw:hover{
    box-shadow: 5px 3px 10px 2px black;
}
.forgetpsw{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    border: solid rgb(116, 116, 233);
    border-radius: 20px;
    /* background-color:darkgray; */
}
/* .frglabel:hover{
    box-sizing: 30px;
    box-shadow:30px -30px 30px 10px white;

} */
.forgetpsw h3{
    padding-left: 70px;
    padding-bottom: 20px;
}
.frglabel{
    padding-left: 40px;
}
.frglabel > input{
    height: 20px;
    width: 80%;  
}
