
<app-header></app-header>
<button type="button" class="addbtn" routerLink='/addproduct'>Add Product</button><br><br>
<table datatable [dtOptions]="dtOptions" [dtTrigger]='dtTrigger' class="table-content" *ngIf="products">
   <caption  style="font-size: 20px; background-color:black;" appElementref>Product List</caption>
    <thead >
        <tr>
            <td>S.no</td>
            <td>Image</td>
            <td>Product Name</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Category</td>
            <td>Stock Update</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>

    <tbody >
        <!-- <mat-divider></mat-divider> -->
        <tr *ngFor='let product of products; let i=index'>
            <td>{{i+1}}</td>
            <td><img src="assets/images/{{product.imageUrl}}" /></td>
            <td>{{product.productName}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td><button class="addstock"><a routerLink='{{product._id}}/addstock' mat-raised-button>Add Stock</a></button></td>
            <td><button class="editbtn"><a routerLink='{{product._id}}/editproducts' mat-raised-button color="primary"><mat-icon>Edit</mat-icon></a></button></td>
            <td><button class="deletebtn" (click)="delete(product._id,product._rev)" mat-raised-button color="warn"><mat-icon>Delete</mat-icon></button></td>


        </tr>
    </tbody>


</table>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>