.table-content {
    margin: 40px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 75%;
    border-collapse: collapse;
    text-align: center;
}

.table-content thead tr {
    background-color: #3DA6FC;
    color: #ffffff;
}

.table-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-content th,
.table-content td {
    padding: 12px 15px;
    border: #D3D3D3 solid 1px;
}
.table-head {
    font-size: large;
    font-style: normal;
    font-weight: bolder;
    color: blue;
}
img{
    padding: 5px;
    height: 80px;
    width: 80px;
}

.addbtn{
    border: none;
    padding: 5px 10px;
    background-color:#4CAF50;
    margin: 15px 8px 0 81%;
    border-radius: 5px;
}
.editbtn {
    border: none;
    padding: 5px;
    background-color: #008CBA;
    border-radius: 5px;
}
.deletebtn{
    border: none;
    padding: 5px;
    background-color:#f44336;
    border-radius: 5px;
}
