<app-header></app-header>
<button type="button" routerLink='/addproduct'>add product</button><br><br>
<table border="1">
    
    <thead>
        <tr>
            <td>s.no</td>
            <td>Image</td>
            <td>Product Name</td>
            <td>Price</td>
            <td>Category</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>

    <tbody *ngFor='let product of products; let i=index'>

        <tr>
            <td>{{i+1}}</td>

              <td><img src="assets/images/{{product.imageUrl}}"  /></td>
              
              

            <td>{{product.productName}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td><button><a routerLink='../editproducts/{{product._id}}'>Edit</a></button></td>
            <td><button (click)="delete(product._id,product._rev)">delete product</button></td>


        </tr>
    </tbody>
   

</table>