<app-header></app-header>

<main>

    <section>
        <div class="addProductContainer">

            <h1>Add Product</h1> 

            <form (ngSubmit)="addProduct()">
                <div class="inputcontainer">
                    <label for="productName">Product Name</label>
                    <input type="text" name="productName" [(ngModel)]="productName" id="productName"> <br>
                </div>
                <div class="inputcontainer">
                    <label for="price">Price</label><br>
                    <input type="number" name="price" id="price" [(ngModel)]="price"> <br>
                </div>
                <div class="inputcontainer">
                    <label for="description">Drescription</label>
                    <input type="text" name="description" id="description" [(ngModel)]="description"> <br>
                </div>
                <div class="inputcontainer">
                    <label for="category">Category</label>
                    <select name="category" id="category" [(ngModel)]="category">
                        <option value="dog">dog</option>
                        <option value="cat">cat</option>
                        <option value="bird">bird</option>
                    </select>
                </div>
                <div class="inputcontainer">
                    <label for="image">Images</label>
                    <input type="file" (change)="onFileUpload($event)" name="image" id="image" [(ngModel)]="imageUrl">
                </div>
                <div class="inputcontainer">
                    <label for="quantity">ProductQuantity</label>
                    <input type="number" name="quantity" id="quantity" [(ngModel)]="quantity">
                </div>
                <button class="addbtn" type="button" (click)='addProduct()'>Add Product</button>

            </form>
        </div>
    </section>


</main>