<app-header></app-header>
<app-content>
    <div class="editProductContainer">
          
            <h1>Update Product</h1> 
         <!-- {{product|json}}    -->
        <form (ngSubmit)="edit()" *ngIf="product">
            <div class="inputcontainer">
            <label for="productName">Product Name</label>
            <input type="text" name="productName" [(ngModel)]="product.productName" id="product"> <br>
        </div>
        <div class="inputcontainer">
            <label for="price">price</label>
            <input type="number" name="price" id="price" [(ngModel)]="product.price"> <br>
         </div>
         <div class="inputcontainer"> 
            <label for="category">category</label>
            <input type="text" name="category" id="category" [(ngModel)]="product.category"> <br>
            </div><!-- <label for="image">Images</label>
            <input type="file" (change)="onFileUpload($event)" name="image" id="image" [(ngModel)]="product.imageUrl"> <br> -->
           
            <button type="button" class="editbtn" (click)='edit()'>update Product</button>
        
            <!-- <img src="assets/images/{{product.imageUrl}}"/> -->
        </form>
    </div>
</app-content>
    