<div class="register">
        
    <form (ngSubmit)="register()">
        
        
        <div class="regform">
            <div class="regimg"><img src="assets/images/1665644.png" alt="user" width="20%" height="20%"></div>
        
                <h1>Create Account</h1>
             <label for="username">User Name</label><br>
                <input type="text"[(ngModel)]="username" name="username" id="username" required><br>
                <label for="email">Email</label><br>
                <input type="email" [(ngModel)]="email" name="email" id="email" required><br>
                <label for="password">Create Password</label><br>
                <input type="password"[(ngModel)]="password" name="password" id="password" required><br>
                <label for="password">Confirm Password</label><br>
                <input type="password" [(ngModel)]="confirmpassword" name="confirmpassword" id="confirmpassword" required><br><br>
                <button type="submit" id="register.signin">sign up</button>
                <button id="register.cancel">
                    <a href='/login'>cancel</a>
                 </button>
        </div>
    </form>
</div>
<footer id="footer"></footer>
